<router-outlet></router-outlet>
<h1>Take Photo in Angular</h1>
<div class="record-video-btn">
  <button *ngIf="isCapturingImage" type="button"  (click)="capturePhoto()" >Take Photo</button>
  <button *ngIf="!isCapturingImage" type="button" (click)="onStartImageCamera()">{{ cameraButtonTitle }}</button>
</div>

<div class="record-video-container">
  <video #photo class="photo-camera" autoplay [hidden]="!isCapturingImage"></video>
  <canvas #canvas class="photo-camera" [hidden]="isCapturingImage"></canvas>
</div>